.container {
    padding: 3em;
    margin: 3em;
}

label {
    font-size: 1.7em;
}
#loading {
    display: none;
    margin-top: 2em;
}

#error {
    color: rgb(148, 55, 55);
    margin-top: 2em;
    display: none;
}

#result {
    margin-top: 2em;
    display: none;
}

#getData {
    padding: 0.5em;
    margin: 1.5em;
    font-size: 1.5em;
    cursor: pointer;
}

